.accordion {
	max-width: 600px;
	margin-bottom: 40px;
	&-head {
		display: flex;
		align-items: center;
		width: 100%;
		min-height: 50px;
		padding: 0 20px;
		border: 1px solid rgba(0, 0, 0, 0.2);
		border-radius: 5px;
		font-size: 18px;
		color: $dark;
		&--active {
			color: $primary;
		}
	}
	&-content {
		max-height: 0px;
		opacity: 0;
		overflow: hidden;
		transition: opacity 2s, max-height 1.2s, padding 1s;
		border: 1px solid rgba(224, 211, 211, 0.1);
		border-top: none;
		&--active {
			overflow: visible;
			opacity: 1;
		}
	}
	&-inner {
		display: block;
		padding: 20px;
	}
}
